.card+.card {
   margin-top: 20px
 }

 .tooltip {
   position: relative;
   text-align: right;
   display: inline;
 }

 .tooltip img {
   height: 1em;
 }

 .tooltip .tooltiptext {
   visibility: hidden;
   width: 220px;
   background-color: hsl(171, 100%, 41%);
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   bottom: 100%;
   left: 50%;
   margin-left: -110px;
   padding: 10px;

   /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
   opacity: 0;
   transition: opacity 1s;
 }

 .tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }

 .tooltiptext.offset-right {
   margin-left: -40px;
 }

 .table.is-borderless td,
 .table.is-borderless th {
   border: 0
 }

 section.section,
 div.box {
   background: transparent;
 }

 table.header-background th {
   background: #fff;
 }

 .card-header-icon img {
   width: 0.8em;
 }

 .no-select {
   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
   /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
 }

 .upload-icon {
   content: url("https://storage.googleapis.com/addlyrics.appspot.com/upload-icon.svg");
   height: 1.4em;
 }

 table tr th,
 td {
   vertical-align: middle !important;
 }

 textarea.lyricsArea {
   overflow-y: hidden;
   overflow-x: auto;
   width: 100%;
   resize: none;
 }

 input[type=number] {
   width: 4em;
 }

 input.hide-arrows::-webkit-outer-spin-button,
 input.hide-arrows::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 input[type=number].hide-arrows {
   -moz-appearance: textfield;
 }

 .has-addons .control {
   margin-bottom: 0em !important;
 }