<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/common.js"></script>
</head>

<body>
    <div class="cookie-notice has-background-primary-dark">
        <div class="cookie-notice-flex">
          <p>This site uses cookies to function properly.
            By continuing to use this site, you agree to our use of cookies.
            To see our privacy policy, click <a href="/privacy-policy" target="_blank" rel="noreferrer noopener">here</a>
          </p>
          <span class="cookie-notice-dismiss">
            <svg viewBox="0 0 24 24">
              <path d="M 2 2 L 22 22 M 2 22 L22 2" />
            </svg>
          </span>
        </div>
      </div>
      <section class="hero is-primary is-fullheight">
        <div class="hero-head">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a href="/">
                <h1 class="title">Add my lyrics</h1>
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                <a href="/" class="navbar-item">Add lyrics</a>
                <a href="/contact" class="navbar-item">Contact</a>
                <a href="/how-to" class="navbar-item">How to</a>
              </div>
            </div>
          </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer has-background-primary">
          <div class="content has-text-centered">
            <p>
              &copy; <script>document.write(new Date().getFullYear())</script>
            </p>
          </div>
        </footer>
    </section>
</body>

</html>