<!-- templates/contact.html -->

{% extends "base.html" %}

{% block head %}
<head>
  <title>Contact Us</title>
</head>
{% endblock %}

{% block content %}
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
      <h1 class="title">Contact us</h1>
      <div class="box">
        <div class="content">
          To get in touch with an issue or suggestion, please email us at
          <a href=mailto:contact@addmylyrics.com>
            contact@addmylyrics.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}