<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Please Hold</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <main>
    <section>
      <article>
        <h2 id="head">Please hold while we render your video</h2>
        <a href="/video">Add lyrics to another video?</a>
      </article>
    </section>
  </main>
</body>

<script>
  const video_id = '{{ video_id }}';

  function deleteCookie(cname) {
    var name = cname + "="
    var decodedCookie = decodeURIComponent(document.cookie)
    var ca = decodedCookie.split(';')
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i]
      while (c.charAt(0) == ' ') {
        c = c.substring(1)
      }
      if (c.indexOf(name) == 0) {
        // Found cookie with cname
        document.cookie = name + "; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
        return
      }
    }
    return
}

  function deleteTimingInfo() {
    regStart = /(start_[0-9]|stop_[0-9])/g
    while ((match = regStart.exec(document.cookie)) != null) {
        deleteCookie(match[0])
    }
    deleteCookie("lyricsArea")
  }

  function request() {
    console.log("starting request...")
    fetch('/get_file?videoID='.concat(video_id))
      .then(response => response.json())
      .then(data => {
        if (data['progress'] == "done") {
          clearInterval(timerID)
          window.location.href = "/download?videoID=".concat(video_id)
          document.title = "Your download should begin shortly"
          document.getElementById("head").innerHTML = "You download should begin shortly"
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
  deleteTimingInfo()

  timerID = setInterval(request, 15000)
  request()

</script>