<!DOCTYPE html>
<html>
<body>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Front Page</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <header>
        <a href="/video"><h1 href="/video" style="color:white">Add my lyrics</h1></a>
        <nav>
            <a href="/video">Add lyrics</a>
            <a href="/contact">Contact</a>
            <a href="/help">Help</a>
        </nav>
      </header>
    <main>
        <section>
            <article>
                <h2 id="head">Pages</h2>
                <a href="video">video rendering - change audio and add words to a video</a>
            </article>
        </section>
    </main>
</body>
</html>