<!-- templates/Error.html -->

{% extends "base.html" %}

{% block head %}
<head>
  <title>Error</title>
</head>
{% endblock %}

{% block content %}

<div class="hero-body">
  <div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
      <h1 class="title">An Error has occured</h1>
      <div class="box">
        <div class="content">
          <p>{{ message }}</p>
          <p>Please email via the <a href="/contact">Contact</a> page quoting this ID: {{ video_id }}</p>
          <p><a href='/'>Click here</a> to get back on track</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}