<!-- templates/video.html -->

{% extends "base.html" %}

{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Quickly and easily add lyrics to your videos" />
  <meta name="keywords" content="video lyric word song overlay editing" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.2.1/jquery.floatThead.min.js" 
    integrity="sha512-q0XkdCnK0e3QLJgYrtENEEmAv+urSGCQs/xCXF4xs+NoLfNWD+j7iMqNYXtFOQfnYDsfE4Z7phZqaHgYJrGB/g==" 
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/video.css">
  <title>Add lyrics to a video</title>
</head>
<div class="hero-body" style="display: block;">
  <div class="columns">
    <div class="settings column is-half">
      <form id="theform" action="uploader" method="POST" enctype="multipart/form-data">
        <div id=video_settings_card class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">Step 1: Add Background Video</p>
          </header>
          <div class="card-content">
            <div class="content">
              <table id=tableVisual class="table">
                <tr>
                  <td>
                    <label for="visualType">Select background type</label>
                  </td>
                  <td></td>
                  <td>
                    <table class="table is-borderless">
                      <tr class="oneline">
                        <td>
                          <label for="videoType">Video</label>
                        </td>
                        <td>
                          <label for="imageType">Image</label>
                        </td>
                        <td>
                          <label for="solidType">Solid Colour</label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="visualType" id="videoType" value="video"
                            onchange="videoTypeChange('video')" required />
                        </td>
                        <td>
                          <input type="radio" name="visualType" id="imageType" value="image"
                            onchange="videoTypeChange('image')" />
                        </td>
                        <td>
                          <input type="radio" name="visualType" id="solidType" value="solid"
                            onchange="videoTypeChange('solid')" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr class="is-all-setting is-video-setting is-image-setting" hidden>
                  <td class="min">
                    <label for="videoUpload" class="is-all-setting is-video-setting">Upload video</label>
                    <label for="videoUpload" class="is-all-setting is-image-setting">Upload image</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Upload your background media</span>
                    </div>
                  </td>
                  <td>
                    <div class="file is-boxed">
                      <label class="file-label">
                        <input class="file-input" type="file" id="videoUpload" accept="video/*,image/*"
                          onchange="videoChange(this)">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="upload-icon"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                        <span class="file-name is-hidden">
                        </span>
                      </label>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-solid-setting" hidden>
                  <td>
                    <label for="background_colour">Background colour</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Colour of the background</span>
                    </div>
                  </td>
                  <td>
                    <input type="color" name="background_colour" id="background_colour" value="#000000" required>
                  </td>
                </tr>
                <tr class="is-all-setting is-video-setting" hidden>
                  <td>
                    <label for="video_start">Start video</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Crop the video to start at this point, select it and
                        press
                        space to set to current video time</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="video_start" name="video_start" min="0" value="0" max="100000"
                          onkeydown="videoTime(event, this, 'video')" class="input is-small" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          seconds
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-video-setting" hidden>
                  <td>
                    <label for="video_end">End video</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Crop the video to end at this point, ignored if set
                        to
                        0,
                        select it and press space to set to current video time</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="video_end" name="video_end" min="0" value="0" max="100000"
                          onkeydown="videoTime(event, this, 'video')" class="input is-small" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          seconds
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-video-setting" hidden>
                  <td>
                    <label for="video_speed">Video speed</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Playback speed of the video</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="video_speed" name="video_speed" min="0.01" value="1" step="0.01"
                          max="10" class="input is-small hide-arrows" required />
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-video-setting is-image-setting is-solid-setting" hidden>
                  <td>
                    <label for="video_fade_in">Fade in</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Fade in video at the start</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="video_fade_in" name="video_fade_in" min="0" value="0"
                          class="input is-small" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          seconds
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-video-setting is-image-setting is-solid-setting" hidden>
                  <td>
                    <label for="video_fade_out">Fade out</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Fade out video at the end</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="video_fade_out" name="video_fade_out" min="0" value="0"
                          class="input is-small" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          seconds
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-video-setting" hidden>
                  <td>
                    <label for=crop_video>Crop video</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Crop video to match the length of provided
                        audio</span>
                    </div>
                  </td>
                  <td>
                    <input type="checkbox" id="crop_video" name="crop_video" checked />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>


        <div id=audio_settings_card class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">Step 2: Select Audio Source and Settings</p>
          </header>
          <div class="card-content">
            <div class="content">
              <table id=tableAudio class="table">
                <colgroup>
                  <col span="1" width=50%>
                  <col span="1" width=5%>
                  <col span="1" width=45%>
                </colgroup>
                <tr>
                  <td>
                    <label for="audioSource">Select audio source</label>
                  </td>
                  <td>

                  </td>
                  <td>
                    <table>
                      <tr class="oneline">
                        <td>
                          <label for="videoSource">Video</label>
                          <input type="radio" name="audioSource" id="videoSource" value="video"
                            onchange="audioSourceChange('video')" required />
                        </td>
                        <td>
                          <label for="audioSource">Audio</label>
                          <input type="radio" name="audioSource" id="audioSource" value="audio"
                            onchange="audioSourceChange('audio')" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr class="is-all-setting is-video-setting" hidden>
                  <td>
                    <label for="advanced_options">Advanced Audio</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Change speed and crop audio seperately to
                        video</span>
                    </div>
                  </td>
                  <td>
                    <input type="checkbox" id="advanced_options" onchange="advancedOption()">
                  </td>
                </tr>
                <tr class="is-all-setting is-audio-setting" hidden>
                  <td>
                    <label for="audioUpload">Upload Audio</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Upload your audio</span>
                    </div>
                  </td>
                  <td>
                    <div class="file is-boxed">
                      <label class="file-label">
                        <input class="file-input" type="file" id="audioUpload" accept="video/*,image/*"
                          onchange="audioChange(this)">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="upload-icon"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                        <span class="file-name is-hidden">
                        </span>
                      </label>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-audio-setting is-advanced_audio-setting" hidden>
                  <td>
                    <label for="audio_start">Start audio</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Crop the audio to start at this point, select it and
                        press
                        space to set value to the current audio time</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="audio_start" name="audio_start" min="0" value="0" step="0.01"
                          max="100000" onkeydown="videoTime(event, this, 'audio')" class="input is-small copy"
                          required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          seconds
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-audio-setting is-advanced_audio-setting" hidden>
                  <td>
                    <label for="audio_end">End audio</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Crop the audio to end at this point, ignored if set
                        to
                        0,
                        select it and press space to set value to the current audio time</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="audio_end" name="audio_end" min="0" value="0" step="0.01" max="100000"
                          onkeydown="videoTime(event, this, 'audio')" class="input is-small copy" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          seconds
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-audio-setting is-advanced_audio-setting" hidden>
                  <td>
                    <label for="audio_speed">Audio speed</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Playback speed of the audio</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="audio_speed" name="audio_speed" min="0.5" value="1" step="0.01" max="2"
                          class="input is-small copy hide-arrows" required />
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-audio-setting is-advanced_audio-setting" hidden>
                  <td>
                    <label for="audio_fade_in">Fade in</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Fade in audio at the start</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="audio_fade_in" name="audio_fade_in" min="0" value="0"
                          class="input is-small copy" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          seconds
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-audio-setting is-advanced_audio-setting" hidden>
                  <td>
                    <label for="audio_fade_out">Fade out</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Fade out audio at the end</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="audio_fade_out" name="audio_fade_out" min="0" value="0"
                          class="input is-small copy" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          seconds
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="is-all-setting is-audio-setting is-advanced_audio-setting" hidden>
                  <td>
                    <label for=crop_audio>Crop Audio</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Crop audio to match the length of provided
                        video</span>
                    </div>
                  </td>
                  <td>
                    <input type="checkbox" id="crop_audio" name="crop_audio" />
                  </td>
                </tr>
                <tr id="row_fill_time" class="is-all-setting is-audio-setting is-advanced_audio-setting" hidden>
                  <td>
                    Fill time
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Calculate video speed to fill length of audio</span>
                    </div>
                  </td>
                  <td>
                    <button type="button" onclick="fillTime()" class="button">Calculate</button>
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>

        <div id=text_settings_card class="card is-fullwidth" hidden>
          <header class="card-header">
            <p class="card-header-title">Step 5: Set Text Settings</p>
          </header>
          <div class="card-content">
            <div class="content">
              <table id=tableText width=100%>
                <tr>
                  <td>
                    <label for="font_size">Font size</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect" style="top: 100%; bottom: auto">Set the size of the
                        font</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="font_size" name="font_size" min="1" value="60" max="1000" step="1"
                          class="input is-small" required />
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="textColour">Text colour</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Set the colour of the text</span>
                    </div>
                  </td>
                  <td>
                    <input id="textColour" name="textColour" type="color" value="#ffffff" required />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="visibleShadow">Shadow</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Show a shadow behind the text</span>
                    </div>
                  </td>
                  <td>
                    <input type="checkbox" id="visibleShadow" name="visibleShadow" onchange="shadowChange()" checked />
                  </td>
                </tr>
                <tr class="shadow_properties">
                  <td>
                    <label for="shadowColour">Shadow colour</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Set the colour of the text shadow</span>
                    </div>
                  </td>
                  <td>
                    <input id="shadowColour" name="shadowColour" type="color" value="#000000" required />
                  </td>
                </tr>
                <tr class="shadow_properties">
                  <td>
                    <label for="shadowX">Shadow offset</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Offset from text to shadow (positive bottom
                        right)</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="shadow_offset_x" name="shadow_offset_x" value="3" step="1" min="-2000"
                          max="2000" class="input is-small" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          ,
                        </a>
                      </p>
                      <p class="control">
                        <input type="number" id="shadow_offset_y" name="shadow_offset_y" value="3" step="1" min="-2000"
                          max="2000" class="input is-small" required />
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="text_position">Text position</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Set the position of the text</span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <input type="radio" name="text_position" id="text_tl" value="tl">
                      <input type="radio" name="text_position" id="text_tm" value="tm">
                      <input type="radio" name="text_position" id="text_tr" value="tr">
                    </div>
                    <div>
                      <input type="radio" name="text_position" id="text_ml" value="ml">
                      <input type="radio" name="text_position" id="text_mm" value="mm" checked>
                      <input type="radio" name="text_position" id="text_mr" value="mr">
                    </div>
                    <div>
                      <input type="radio" name="text_position" id="text_bl" value="bl">
                      <input type="radio" name="text_position" id="text_bm" value="bm">
                      <input type="radio" name="text_position" id="text_br" value="br">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="text_width">Max text width</label>
                  </td>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext noselect">Percentage of the screen to use before wraping
                        text</span>
                    </div>
                  </td>
                  <td>
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" id="text_width" name="text_width" min="0" value="90" max="100" step="1"
                          class="button is-small" required />
                      </p>
                      <p class="control">
                        <a class="button is-static is-small">
                          %
                        </a>
                      </p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div id=uploaded_video_card class="card is-fullwidth" hidden>
          <header class="card-header">
            <p class="card-header-title">Uploaded Video</p>
          </header>
          <div class="card-content">
            <div class="content">
              <video id="video1" width=100% class="is-allsetting is-video-setting mediaplayer" controls hidden></video>
              <img id="image1" width=100% class="is-all-setting is-image-setting" alt="Unable to show image" hidden>
            </div>
          </div>
        </div>
        <div id=uploaded_audio_card class="card is-fullwidth" hidden>
          <header class="card-header">
            <h1 class="card-header-title">Uploaded Audio</h1>
          </header>
          <div class="card-content">
            <div class="content">
              <audio id="audio1" class="all audio mediaplayer" controls style="width: 100%">
                Please upload an mp3
              </audio>
            </div>
          </div>
        </div>
        <div id=crop_video_card class="card is-fullwidth" hidden>
          <header class="card-header">
            <p class="card-header-title">Crop Video</p>
            <a class="card-header-icon card-toggle no-select">
              <img class="fa fa-angle-down"
                src="https://storage.googleapis.com/addlyrics.appspot.com/arrow-down.svg"></i>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <canvas id="visualCanvas" style="width: 100%;"></canvas>
              <button type="button" onclick="reset_crop()" class="button">Reset Crop</button>
              <div class="tooltip" onmouseover="setoverflow(this, 'visible')" onmouseout="setoverflow(this, 'hidden')">
                <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                <span class="tooltiptext noselect">Click on the image above to crop it. The greyed out area will
                  be cut from the final video. Click the button to reset the crop to show the full
                  screen.</span>
              </div>
            </div>
          </div>
        </div>
        <div id=preview_frame_card class="card is-fullwidth" hidden>
          <header class="card-header">
            <p class="card-header-title">Preview frame</p>
            <a class="card-header-icon card-toggle no-select">
              <img class="fa fa-angle-down"
                src="https://storage.googleapis.com/addlyrics.appspot.com/arrow-down.svg"></i>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <table id=tablePreview>
                <tr>
                  <td>
                    <img id="previewImg" width="100%" src="" onload="onPreviewLoad()" hidden />
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="tooltip" onmouseover="setoverflow(this, 'visible')"
                      onmouseout="setoverflow(this, 'hidden')">
                      <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                      <span class="tooltiptext offset-right noselect">Check what the video will look like at
                        the
                        current
                        time</span>
                    </div>
                    <button type="button" onclick="previewFrame()" class="button">Preview</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div id=submit_card class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">Step 6: Submit</p>
          </header>
          <div class="card-content">
            <div class="content">
              <button id="submitbutton" class="button is-fullwidth is-primary" onclick="submitForm()"
                type="button">Submit</button>
            </div>
          </div>
        </div>

        <textarea type="text" id="csv" name="csvFile" value="" readonly hidden></textarea>
        <input type="number" id="videoTop" name="videoTop" readonly hidden>
        <input type="number" id="videoLeft" name="videoLeft" readonly hidden>
        <input type="number" id="videoBottom" name="videoBottom" readonly hidden>
        <input type="number" id="videoRight" name="videoRight" readonly hidden>
        <input type="text" id="videoExt" name="videoExt" readonly hidden>
        <input type="text" id="audioExt" name="audioExt" readonly hidden>
        <input type="text" id="uuid" name="uuid" readonly hidden>
      </form>
    </div>
    <div class="lyrics column">
      <div id=lyrics_card class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">Step 3: Add Lyrics</p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="text-valign-center">
              <label for="verses"> Show a full verse at a time </label>
              <div class="tooltip">
                <img src="https://storage.googleapis.com/addlyrics.appspot.com/info-icon.svg">
                <span class="tooltiptext noselect">Use a double return to seperate verses</span>
              </div>
              <input type="checkbox" id="verses" onchange="update_all_verse()" />
            </div>
            <textarea id="lyricsArea" class="textarea lyricsArea has-fixed-size is-primary" font-family="Arial"
              wrap="off" onkeyup="textAreaAdjust(this)" placeholder="Insert the lyrics of the song here"
              onchange="updated(this)"></textarea>
            <br>
            <button onclick="confirmDeleteTimingInfo()" class="button">Remove lyrics and timing</button>
          </div>
        </div>
      </div>
      <div id=timing_card class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">Step 4: Set Lyric Timing</p>
        </header>
        <div class="card-content">
          <div class="content">
            <table id="table1" class="table frozenHead header-background">
              <colgroup>
                <col span="1">
                <col span="1" width=7em>
                <col span="1" width=7em>
              </colgroup>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/video.js"></script>
{% endblock %}